<?xml version="1.0" encoding="utf-8"?>
<html>
    <head>
        <title>Gumi Player Network</title>
    </head>

    <body>
        <form action="/logged_in" method="post">
        <table>
            <h1>Gumi Player Network</h1>
            <div id="login-area">
                <tr>
                    </td>
                    <tr>
                        <p>Please login to your account</p>
                        <p>アカウントにログインしてください</p>
                    </tr>
                    <form action="/logged_in" method="post"> 
                    <td> ユーザー名<textarea rows="1" cols="12" name="username" value="username"></textarea> </td>
                    <td> メールアドレス<textarea rows="1" cols="12" name="email" value="email"></textarea> </td>
                </tr>
                <td>
                    <p><button type="submit">送信</button></p>
                </td>

            </div>
        </table>
        </form>
        <table>
            <tr>
                <td>
                    <p>ログインができましたらプロフィールページに移動します</p>
                    <p>などなどなどなどなどなどなどなどなどなどなどなどなど</p>
                </td>
            </tr>
        </table>
    
    </body>
</html>
