<xml version="1.0" encoding="utf-8"?>
<html>
    <head>
        <title>Gumi Player Network</title>
    </head>

    <body>
        <form name="logged_in" action="/logged_in" method="post">
        <table>
            <h1>Gumi Player Network</h1>
            <div id="login-area">
                <tr>
                    </td>
                    <tr>
                        <p>Please login to your account</p>
                        <p>アカウントにログインしてください</p>
                    </tr>
                    <form action="/logged_in" method="post"> 
                        <td> ユーザー名<textarea rows="1" cols="12" name="name" value="name"></textarea> </td>
                </tr>
                <td>
                    <p><button type="submit">送信</button></p>
                </td>


                <form name="register" action="/register" method="post">
                <table>
                    <tr>
                        <th>新規アカウント</th>
                        <td>
                            <tr>
                                <tr> --------------------------------------------------------------------------------
                                    <p></p>
                                ユーザー名　<textarea rows="1" cols="12" name="username"></textarea>
                                メールアドレス　<textarea rows="1" cols="12" name="email"></textarea>
                                <p>国　　<textarea rows="1" cols="12" name="country"></textarea></p>
                                <p></p>
                                <p><button type="submit">アカウント登録</button></p>
                            </tr> ------------------------------------------------------------------------------------
                            </tr>
                        </td>
                         </tr>
                     </table>
                 </form>
            </form>
        </table>

        </form>
        <table>
            <tr>
                <td>
                    <p>ログインができましたらプロフィールページに移動します</p>
                    <p>などなどなどなどなどなどなどなどなどなどなどなどなど</p>
                </td>
            </tr>
        </table>
    
    </body>
</html>
